local.properties
.gradle/config.properties
.gradle/7.2/gc.properties
.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.2/dependencies-accessors/gc.properties
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/fileChanges/last-build.bin
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
.idea/AndroidProjectSystem.xml
.idea/compiler.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/caches/deviceStreaming.xml
build/intermediates/lint-cache/api-versions-0-34.0.5.bin
build/intermediates/lint-cache/private-apis-0-5982101.bin
build/intermediates/lint-cache/maven.google/androidx/annotation/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/cardview/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/core/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/gridlayout/group-index.xml
aware-thesis.keystore
check_keyboard_status.sh
.idea/deviceManager.xml
aware-phone/release/aware-phone-arm64-v8a-release.apk
aware-phone/release/aware-phone-armeabi-release.apk
aware-phone/release/aware-phone-armeabi-v7a-release.apk
aware-phone/release/aware-phone-x86-release.apk
aware-phone/release/aware-phone-x86_64-release.apk
aware-phone/release/output-metadata.json
